<section>
  <p style="font-size: 22px;">
    Первый в мире удобный менеджер флеш-карточек. Именно так.
  </p>
   <% if @card %>
     <%= @card.original_text %>
     <%= form_tag('/sub', method: :post)  do %>
      <%= text_field_tag(:user_translation) %>
      <%= hidden_field_tag 'id', @card.id %>
      <%= submit_tag 'Check' %>
     <% end %>
  <% end %>
</section>
